" ------------------------------------------------------------ "
" Edit and Reload .ideavimrc within idea
" https://towardsdatascience.com/the-essential-ideavim-remaps-291d4cd3971b
" ------------------------------------------------------------ "
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

" ------------------------------------------------------------ "
" idea action shortcuts
" ------------------------------------------------------------ "
" https://youtrack.jetbrains.com/issue/IDEA-249695/Show-error-messages-in-quick-doc-popup-invoked-by-keyboard-shortcut
" hover over cursor (not just java, all languages)
map gh <Action>(QuickJavaDoc)
" hover over error (squigglies)
map ge <Action>(ShowErrorDescription)
" (goto definition is gd)
" goto implementation
map gi <Action>(ReSharperGotoImplementation)


" ------------------------------------------------------------ "
" NERDTree Support
" https://github.com/JetBrains/ideavim/wiki/NERDTree-support
" ------------------------------------------------------------ "
set NERDTree
" ------------------------------------------------------------ "
" Load shared configuration
" ------------------------------------------------------------ "
source ~/.vim/.sharedvimrc

" ------------------------------------------------------------ "
" Cheat Sheet (Jetbrains hotkeys too)
" ------------------------------------------------------------ "
" Cycle forward through tabs: CMD+SHIFT+]
" Cycle backward through tabs: CMD+SHIFT+[

" Jump to left split: CTRL+h
" Jump to right split: CTRL+l

" Jump to upper split: CTRL+k
" Jump to lower split: CTRL+j

" Split and move down/up/right/left: type into SHIFT-SHIFT bar

" ------------------------------------------------------------ "
" Template Section Header 
" ------------------------------------------------------------ "
